.form {
  margin: 1rem 0;
  height: 20rem;
  overflow: auto;
}

.control {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid var(--light-v2);
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  font: inherit;
  color: var(--primary);
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
  background-color: var(--color-white);
}

.actions .submit {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--color-white);
}

.actions .cancel {
  border: 1px solid var(--primary);
}

.actions .submit:hover,
.actions .submit:active {
  background-color: var(--primary);
}

.invalid label {
  color: var(--error);
}

.invalid input {
  border-color: var(--error);
  background-color: var(--color-white);
}

.invalid p {
  color: var(--error);
}
