.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--color-white);
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: var(--color-white);
  border-color: var(--secondary);
  color: var(--secondary);
  transition: 0.5s;
}
